
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Tabulky*/

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table a {
    font-weight: bold;
}

th, td {    
    max-width: 600px;
    padding: 5px;
}

table, th, td {
    border: 2px solid rgb(14, 11, 172);
}

tbody tr:hover {
    background-color:hsl(214, 100%, 81%);
}

thead {
    background-color: #0087e0;
    color: white;
}

/*Text*/

h1, h2 {
    text-align: center;
}

code {
    background-color: rgb(200, 205, 230);
    border-radius: 3px;
    padding: 0 5px;
    font-family: Courier, monospace;
}